<div>

<h1>Shifts to Give Away</h1>

<script id="shift-template" type="text/x-handlebars-template">
    <ul>
        {{#each shift}}
            <li>{{username}}</li>
        {{/each}}
    </ul>
</script>

</div>
<div id='map'></div>

<script src="/javascript/mapbox.js" type="text/javascript" charset="utf-8"></script>