<div class="shifts">

<h1>Shifts to Give Away</h1>

<script id="test-template" type="text/x-handlebars-template">
  <h1>{{name}}</h1>
</script>

<script id="shift-template" type="text/x-handlebars-template">
    <p>test={{test}}</p>
    <p>test2={{test2}}</p>
    <ul>
        {{#each shift}}
            <li>{{userId}}</li>
        {{/each}}
    </ul>
</script>

<div id="shift-container"></div>

<div id='map'></div>

</div>

<script src="/javascript/mapbox.js" type="text/javascript"></script>

<script>

var source   = $("#shift-template").html();

console.log('source = '+source);
var template = Handlebars.compile(source);


  $.ajax({
      url: '/api/shifts',
      type: 'GET',
      cache: false,
      dataType: "json",
      success: function(data) {
        console.log($("#test-template").html());
        var template2 = Handlebars.compile($("#test-template").html());
        var html = template2({
          name: "Chris"
        });
        debugger;


        console.log('successful response from api');
        console.log(data);
        var context = {
          shift: data,
          test: data[0].userId,
          test2: "hello"
        };
        var html = template(context);
        console.log(html);
        $("#shift-container").html(html);
      },
      error: function() {
        console.log('error');
      },
  });

</script>

