<div id="scheduler" class="myscheduler" style='width:90%; height:80em;'></div>
<script src="/libs/scheduler/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/app.js" type="text/javascript" charset="utf-8"></script>